# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/
**/out/

# Env files
**/.env
**/.env.*.local
**/*.local

# Logs
**/*.log
**/logs/

# System / Editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
